<div class="row">
  <div class="ui-login-container centered">
	<div class='jumbotron'>
	    <h1>Ollie</h1>
	    <h3>Please log-in<h3>
	    <button class="btn btn-lg btn-primary" id="login">Facebook Login</button>
	</div>
  </div>
</div>

