<div class="container background">
	<div class="ui-profile-header pull-right">
		<h5><%= name %></h5>
	    <img src="http://graph.facebook.com/<%= id %>/picture" class="img-thumbnail" />
	</div>
	<h1><strong>Nearby friends with your interests</strong></h1>
	<div class="ui-profile-content">
	    <div class="row text-center">
	        <div class="col-md-10 well centered">
		    	<div class="personal_interests"> 
		    	  	<div class="icon_personal_interests"> 
		    			<img src="images/categorie/music.svg" /> 
		    	  	</div> 
			    	<div id="music">
			    		<div id="overscroll">
				    		<ul id="musicul">
			            		<span id="1"><p><strong>No one has these interests</p></strong></span>
				   			</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
	        <div class="col-md-10 well centered">
		    	<div class="personal_interests"> 
		    	  	<div class="icon_personal_interests"> 
		    			<img src="images/categorie/cinema.svg" /> 
		    	  	</div> 
			    	<div id="cinema">
			    		<div id="overscroll">
				    		<ul id="cinemaul">
			            		<span id="2"><p><strong>No one has these interests</p></strong></span>
				   			</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
	        <div class="col-md-10 well">
		    	<div class="personal_interests"> 
		    	  	<div class="icon_personal_interests"> 
		    			<img src="images/categorie/book.svg" /> 
		    	  	</div> 
			    	<div id="book">
			    		<div id="overscroll">
				    		<ul id="bookul">
			            		<span id="3"><p><strong>No one has these interests</p></strong></span>
				   			</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
	        <div class="col-md-10 well">
		    	<div class="personal_interests"> 
		    	  	<div class="icon_personal_interests"> 
		    			<img src="images/categorie/fashion.svg" /> 
		    	  	</div> 
			    	<div id="fashion">
			    		<div id="overscroll">
				    		<ul id="fashionul">
			            		<span id="4"><p><strong>No one has these interests</p></strong></span>
				   			</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
	        <div class="col-md-10 well">
		    	<div class="personal_interests"> 
		    	  	<div class="icon_personal_interests"> 
		    			<img src="images/categorie/art.svg" /> 
		    	  	</div> 
			    	<div id="art">
			    		<div id="overscroll">
				    		<ul id="artul">
			            		<span id="5"><p><strong>No one has these interests</p></strong></span>
				   			</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
	        <div class="col-md-10 well">
		    	<div class="personal_interests"> 
		    	  	<div class="icon_personal_interests"> 
		    			<img src="images/categorie/food.svg" /> 
		    	  	</div> 
			    	<div id="food">
			    		<div id="overscroll">
				    		<ul id="foodul">
			            		<span id="6"><p><strong>No one has these interests</p></strong></span>
				   			</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
	        <div class="col-md-10 well">
		    	<div class="personal_interests"> 
		    	  	<div class="icon_personal_interests"> 
		    			<img src="images/categorie/healt.svg" /> 
		    	  	</div> 
			    	<div id="healt">
			    		<div id="overscroll">
				    		<ul id="healtul">
			            		<span id="7"><p><strong>No one has these interests</p></strong></span>
				   			</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
	        <div class="col-md-10 well">
		    	<div class="personal_interests"> 
		    	  	<div class="icon_personal_interests"> 
		    			<img src="images/categorie/sport.svg" /> 
		    	  	</div> 
			    	<div id="sport">
			    		<div id="overscroll">
				    		<ul id="sportul">
			            		<span id="8"><p><strong>No one has these interests</p></strong></span>
				   			</ul>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
</div>