<ul id="thelist">
<div class="profile_image">
    <div id="profile_image_container"></div>
</div>

<div id="utente"></div>
<div class="etichetta_bianca">
    <p><strong>Nearby friends with your interests</strong></p>
    
    <div class="personal_interests"> <div class="icon_personal_interests"> <img src="graphics/categorie/music.svg" /> </div> <div id="music"><div id="overscroll">
	    <ul id="musicul">
            <span id="1"><p><strong>No one has these interests</p></strong></span>
	    </ul>
	</div></div> </div>
    <div class="personal_interests"> <div class="icon_personal_interests"> <img src="graphics/categorie/cinema.svg" /> </div> <div id="cinema"><div id="overscroll">
	    <ul id="cinemaul">
            <span id="2"><p><strong>No one has these interests</p></strong></span>
	    </ul>
	</div></div> </div>
 
    <div class="personal_interests"> <div class="icon_personal_interests"> <img src="graphics/categorie/book.svg" /> </div> <div id="book"><div id="overscroll">
	    <ul id="bookul">
            <span id="3"><p><strong>No one has these interests</p></strong></span>
	    </ul>
	</div></div> </div>
    
    <div class="personal_interests"> <div class="icon_personal_interests"> <img src="graphics/categorie/fashion.svg" /> </div> <div id="fashion"><div id="overscroll">
	    <ul id="fashionul">
            <span id="4"><p><strong>No one has these interests</p></strong></span>
	    </ul>
	</div></div> </div>
    <div class="personal_interests"> <div class="icon_personal_interests"> <img src="graphics/categorie/art.svg" /> </div> <div id="art"><div id="overscroll">
	    <ul id="artul">
            <span id="5"><p><strong>No one has these interests</p></strong></span>
	    </ul>
	</div></div> </div>
    <div class="personal_interests"> <div class="icon_personal_interests"> <img src="graphics/categorie/food.svg" /> </div> <div id="food"><div id="overscroll">
	    <ul id="foodul">
            <span id="6"><p><strong>No one has these interests</p></strong></span>
	    </ul>
	</div></div> </div>
    <div class="personal_interests"> <div class="icon_personal_interests"> <img src="graphics/categorie/healt.svg" /> </div> <div id="healt"><div id="overscroll">
	    <ul id="healtul">
            <span id="7"><p><strong>No one has these interests</p></strong></span>
	    </ul>
	</div></div> </div>
    
    <div class="personal_interests"> <div class="icon_personal_interests"> <img src="graphics/categorie/sport.svg" /> </div> <div id="sport"><div id="overscroll">
	    <ul id="sportul">
            <span id="8"><p><strong>No one has these interests</p></strong></span>
	    </ul>
	</div></div> </div>    
    
</p>
    <!--<div class="log_out" onClick="logout()"><p><strong>Logout</p></strong></div>-->
</div>

</ul>